$apple-blossom: #000000;
$alto: #000000;
$bouquet: #000000;
$chelsea-cucumber: #000000;
$cod-grey: #000000;
$conifer: #000000;
$dove-grey: #000000;
$gallery: #000000;
$grey: #000000;
$gulf-stream: #000000;
$hippie-blue: #000000;
$potters-clay: #000000;
$rajah: #000000;
$raw-sienna: #000000;
$silver-chalice: #000000;
